/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/Button/button.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.download-button {
  position: relative;
  width: 170px;
  height: 50px;
  border: 2px solid #282828;
  border-radius: 9999px;
  background-color: #212121;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  cursor: pointer;
  font-size: 16px;

  text-align: center;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.download-button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 100%;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  z-index: 1;
  transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.download-button:hover::before {
  top: 0;
  bottom: 0;
}

.download-button:hover {
  color: #fff;
  transform: translateY(0%);
}

.download-button .icon {
  position: absolute;
  left: 20px;
}

.download-button .icon svg {
  width: 24px;
  height: 24px;
}

.download-button .label {
  position: relative;
  z-index: 10;
}

.download-button .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(
    -225deg,
    #7c3aed 0%,
    /* Tailwind: purple-600 */ #ec4899 50%,
    /* Tailwind: pink-500 */ #ec4899 100%
  );
  filter: blur(20px);
  z-index: -1;
  animation: animate 0.8s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

